.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(25%, 300px));
    grid-template-rows: repeat(2, minmax(25%, 300px ));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.sales,
.earnings,
.growth,
.users { 
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 8px 8px 24px 0px rgb(0, 0, 0);
    .content {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 5px;
    }
}

.users {
    grid-area: 1 / 1 / 2 / 2; 
}

.sales { 
    grid-area: 1 / 2 / 2 / 3; 
}
.earnings { 
    grid-area: 2 / 1 / 3 / 2; 
}
.growth { 
    grid-area: 2 / 2 / 3 / 3; 
}

.title {
    color: #666;
    font-weight: 100;
}

.data {
    font-size: 2rem;
    margin-top: 10px;
    margin-left: 10px;
    width: min-content;
    position: relative;
}

.active_growrate,
.inactive_growrate,
.active_profit,
.inactive_profit,
.inactive,
.active {
    display: flex;
    gap: 2px;
    margin-left: 10px;
    color: #35b65aad;
    position: absolute;
    top: 0;
    right: -33px;
    font-size: 20px;
}

.inactive {
    color: #ff005dd8;
}

.description {
    margin-left: 10px;
    margin-top: 10px;
    color: #666;
}

.inactive_profit,
.active_profit {
    top: -15px;
    right: -33px;
}

.inactive_profit {

    color: #ff005dd8;
}

.inactive_growrate {
    top: -15px;
    color: #ff005dd8;

}

.active_growrate {
    top: -15px;
}