.reviews_container {
    width: 100%;
    padding-bottom: 100px;
}

.headline {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 1200px;
    width: 100%;

    h2 {
        font-size: 1.9rem;
        color: #fff;
        font-weight: 400;
    }
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.review {
    align-items: center;
    background-color: var(--color-medium-dark);
    border: 0;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 17px;
    justify-content: center;
    padding: 30px;
    transition: .2s;
    flex-wrap: wrap;
}

.based {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .link {
        color: #999;
    }
}