.total_profit {
    background: rgb(53, 182, 90);
    border-radius: 16px;
    color: #fff; 
    font-size: 13px; font-weight: bold; 
    padding: 0 15px 0 15px; 
    height: 25px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}