.pre_footer {
    background-color: var(--color-medium-dark);
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
    width: 100%;
}

.text {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    margin-right: 30px;

    img {
        width: 40px;
        height: 40px;
        filter: brightness(0) saturate(100%) invert(44%) sepia(72%) saturate(5166%) hue-rotate(4deg) brightness(105%) contrast(102%);
    }

    .lines {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: left;
        font-weight: 100;
        margin-left: 20px;

        .title {
            margin-bottom: 5px;
            font-size: 1.2rem;
            font-weight: 100;
            color: #fff;
        }

        .details {
            color: var(--color-light);
        }
    }
}

.button {
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    background: var(--fire-gradient);
    border: 0;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 17px;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    padding: 0 25px;
    text-align: center;
    white-space: normal;
    text-decoration: none;
}

.button:hover {
    background: var(--fire-gradient-hover);
}

@media (width <= 600px) {
    .pre_footer {
        height: 100%;
    }

    .subscribe {
        flex-direction: column;
    }

    .button {
        margin-top: 20px;
    }
}