.visuals_container {
    width: 100%;
    padding-bottom: 100px;
}

.headline {
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 1200px;
    width: 100%;

    h2 {
        font-size: 1.9rem;
        color: #fff;
        font-weight: 400;
    }
}

.trailer {
    margin-bottom: 30px;
    padding-bottom: 50%;
    position: relative;

    video {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.screenshots {
    display: flex;
    margin: -15px;
}

.screenshots_drop {
    display: flex;
    width: calc(50% - 30px);
    margin: 18px;
    border-radius: 7px;
    position: relative;
}

.screenshots_wide {
    border-radius: 7px;
    max-width: 585px;
}

.thumber_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    aspect-ratio: 16 / 9;
}

.visual_images {
    width: min-content;
    position: relative;
}

.thumber_images_image {
    margin: 15px;
    aspect-ratio: 16 / 9;
    border-radius: 7px;
    object-fit: cover;
    max-width: 274px;
}