.orders {
    display: flex;
    flex-direction: column;
    width: 100%;

    .spacer {
        height: 60px;
        width: 100%;
    }

    h2 {
        color: #fff;
        font-weight: 400;
        font-size: 1.4rem;
    }
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.notice {
    align-self: center;
    border-radius: 7px;
    padding: 15px 30px 15px 54px;
    box-shadow: none !important;
    color: #00abff !important;
    background-position: 20px;
    background-repeat: no-repeat;
    margin-top: 50px;
    background-size: 25px;
    background-color: rgba(0, 171, 255, .15);
    background-image: url(https://www.instant-gaming.com/themes/igv2/images/icons/alerts/icon-notice.svg);
}

.checkout_container {
    display: flex;
    margin-left: -1rem;
    width: auto;
    margin-top: 20px;
    gap: 15px;
}
.checkout_container_column {

  padding-left: 1rem;
  background-clip: padding-box;
  justify-items: center;
}

.checkout {
    display: flex;
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-medium-dark);
    border-radius: 12px;
    border: 2px solid var(--color-medium);
    position: relative;

    .status {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 30px;
        background-color: #6dd43246;
        color: #6dd432;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 12px 0 12px;
    }

    .items {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 15px;
    }
    .items::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: hsla(0, 0%, 100%, .1);
        margin-top: 10px;
    }
}

.checkout_price {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    .checkout_price_info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: #999;
        font-weight: 400;
        font-size: 1rem;
        h2 {
            color: #999;
            font-size: 1rem;
        }
    }

    .checkout_price_info#total {
        color: #fff;
        font-size: 1.3rem;
        h2 {
            color: #fff;
            font-size: 1.3rem;
        }
    }
}

.checkout_price::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: hsla(0, 0%, 100%, .1);
    margin-top: 20px;
}

.checkout_view {
    padding: 20px;
    font-size: 1rem;
    outline: none;
    border: none;
    background: var(--fire-gradient);
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
}

.checkout_view:hover {
    background: var(--fire-gradient-hover);
}

.checkout_date {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #777;
}