.navbar_modal {
  position: fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar_modal_content {
  width: 350px;
  height: 425px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;

  .navbar_modal_content_data {
    width: 250px;
    height: 275px;
    background-color: #000;
    position: absolute;
    top: 80px;
    right: 30px;
    border-radius: 12px;

  }
}

.navbar_modal_info {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .text {
    color: #fff;
    padding: 12px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    width: max-content;
    font-size: .9rem;
  }

  .spacer {
    width: 100%;
    height: 1px;
    background: var(--color-dark);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text:hover {
    background-color: var(--color);
  }

}