.specifics_text {
    display: flex;

    .specifics_text_title {
        width: 50%;
        font-size: .9rem;
        color: var(--color-light);
    }

    .specifics_value {
        width: 50%;
        font-size: .9rem;
        color: #fff;
        cursor: pointer;
    }

    .specifics_value:hover {
        color: var(--color);
    }

    .specifics_value_genres {
        color: #fff;
        cursor: pointer;
        font-size: .9rem;
        display: flex;
        gap: 6px;

        i {
            font-style: normal;
        }

        i:hover {
            color: var(--color);
        }
    }
}

.specifics_text_blank_title {
    width: 50%;
    font-size: .9rem;
    color: var(--color-light);
    cursor: text;
}