.cart_page_right {
  flex: 0 1 33%;
  margin-left: 60px;
  position: sticky;
  top: 140px;

  h2 {
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
  }
}


.cart_summary {
  background-color: var(--color-ultra-dark);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;

  .summary_row_total,
  .summary_row {
    align-items: flex-end;
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .summary_row_total {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .choice {
    color: var(--color-light);
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .choice:before {
    background-color: hsla(0, 0%, 100%, .1);
    content: "";
    height: 1px;
    position: relative;
    top: 9px;
    width: 100%;
  }

  .choice:after {
    background-color: hsla(0, 0%, 100%, .1);
    content: "";
    height: 1px;
    position: relative;
    top: 9px;
    width: 100%;
  }

  .back {
    align-items: center;
    color: var(--color-light);
    display: flex;
    font-weight: 500;
    justify-content: center;

    img {
      width: 6px;
      height: 12px;
      margin-bottom: 2px;
      transform: rotate(180deg);
      margin-right: 14px;
      filter: brightness(0) saturate(100%) invert(61%) sepia(24%) saturate(15%) hue-rotate(30deg) brightness(95%) contrast(91%);
    }
  }
}