.product-detail-index {
    background-color: var(--color-dark);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin-top: clamp(200px, 15%, 250px);
    width: 100%;
    z-index: 100;
}