.product-detail-index {
    background-color: var(--color-dark);
    min-height: 100vh
}

.panel-section {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    max-width: 1200px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 100
}